.text_beer{
  font-size: 2em;
  text-align: center;
}

.beer{
  height: 4.5rem;
  border: solid 10px black;
  width: 100%;
  text-align: center;
}

.beer_title {
  font-size: 2.5em;
  font-weight: 900;
}

.background_beer{
  background: white;
  background-size: cover;
  flex-direction: row-reverse;
}

.fit-picture {
  height: 18rem;
  width: 90vw;
}

.container_beer{
  display: flex;
  justify-content:center;
  align-items:center;
}
@media (min-width: 740px) {

  .background_our_beer{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      height: 100%;
  }

  .beer{
      width: 22rem;
  }

  .img_container {
      height: 40rem;
      width: 40rem;
  }

  .text_beer{
      font-size: 1.5em;
      text-align: center;
      width: 80%;
  }

  .fit-picture {
    width: 80vw;
    height: 30rem;
  }
}

@media (min-width: 1540px) {

  .background_beer{
    height: 48rem;
  }

  .fit-picture {
    height: 40rem;
  }

  .img_container {
    width: 50rem;
}

}
