.text_story {
  font-size: 2em;
  text-align: center;
}

.story {
  height: 4.5rem;
  border: solid 10px black;
  width: 100%;
  text-align: center;
}

.story_title {
  font-size: 2em;
  font-weight: 900;
}

.background_story {
  background: white;
  background-size: cover;
}

.fit-picture {
  height: 18rem;
  width: 90vw;
}

.container_story {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 740px) {
  .background_our_story {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
  }

  .story {
    width: 22rem;
  }

  .img_container {
    height: 40rem;
    width: 40rem;
  }

  .text_story {
    font-size: 1.5em;
    text-align: center;
    width: 80%;
  }

  .fit-picture {
    width: 80vw;
    height: 30rem;
  }
}

@media (min-width: 1540px) {
  .background_story {
    height: 48rem;
  }

  .fit-picture {
    height: 21rem;
  }

  .img_container {
    width: 50rem;
  }
}
