<section id="story" class="container-fluid background_story">
  <div class="row mt-5 mb-5 container_story">
    <div class="mb-3 col-sm-12 col-lg-12 col-xl-6 background_our_story">
      <div class="story mb-3">
        <h1 class="story_title mt-1">Lorem, ipsum.</h1>
      </div>
      <p class="text_story mt-5">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam
        similique quisquam vel fugiat quod at maiores repellendus nobis nemo
        corrupti hic, asperiores accusantium, modi recusandae eos iusto? Eum,
        deserunt recusandae!
      </p>
    </div>
    <div class="row img_container">
      <img
        class="fit-picture col-xl-5 m-3"
        src="/assets/img/tacos-1613795_1920.jpg"
        alt=""
      />
      <img
        class="fit-picture d-none d-xl-block col-xl-5 m-3"
        src="/assets/img/food-1150029_1920.jpg"
        alt=""
      />
      <img
        class="fit-picture d-none d-xl-block col-xl-5 m-3"
        src="/assets/img/radishes-933305_1920.jpg"
        alt=""
      />
      <img
        class="fit-picture d-none d-xl-block col-xl-5 m-3"
        src="/assets/img/food-757827_1920.jpg"
        alt=""
      />
    </div>
  </div>
</section>
