<form [formGroup]="signInForm" (ngSubmit)="userConnexion()">
  <div class="example-container boxForm">
    <p class="top">Connexion</p>

      <input
        matInput
        placeholder="Identifiant"
        type="text"
        name="login"
        formControlName='email'
      />

    <div *ngIf="signInForm.get('email').errors && !signInForm.get('email').pristine" class="error">
      <div [hidden]="!signInForm.get('email').errors.required">Ce champ est requis.</div>
      <div [hidden]="!signInForm.get('email').invalid">Votre email est invalide.</div>
    </div>


      <input
        matInput
        placeholder="Mot de passe"
        type="password"
        formControlName="password"
      >


    <div *ngIf="signInForm.get('password').errors && !signInForm.get('password').pristine" class="error">
      <div [hidden]="!signInForm.get('password').errors.required">Ce champ est requis.</div>
    </div>

    <div class="container">
      <button mat-flat-button type="submit" [disabled]="!signInForm.valid">
          Se connecter
      </button>
    </div>
      <p>
        <a routerLink="/inscription">S'inscrire ?</a>
      </p>
  </div>
</form>
