<section class="container-fluid background_meat text-white">
  <div class="background_meat_prime">
      <div class="row prime_row">
          <span class="mt-4 mr-3 d-none d-lg-block d-lg-none prime_row_span" style="height:2px; width:170px; background:white;"></span>
          <p class="prime_row_p">WELCOME TO</p>
          <span class="mt-4 ml-3 d-none d-lg-block d-lg-none" style="height:2px; width:170px; background:white;"></span>
      </div>
      <div class="prime mb-3">
          <h1 class="prime_title">PRIME</h1>
      </div>
      <div class="row prime_row">
          <span class="mt-4 mr-3 d-none d-lg-block d-lg-none prime_row_span" style="height:2px; width:170px; background:white;"></span>
          <p  class="prime_row_p-center">SERIOUSLY SIMPLE FOOD</p>
          <span class="mt-4 ml-3 d-none d-lg-block d-lg-none prime_row_span" style="height:2px; width:170px; background:white;"></span>
      </div>
  </div>
</section>
