<section id="beer" class="container-fluid background_beer">
  <div class="row mt-5 mb-5 container_beer">
    <div class="mb-3 col-sm-12 col-lg-12 col-xl-6 background_our_beer">
      <div class="beer mb-3">
        <h3 class="beer_title mt-1">Lorem ipsum</h3>
      </div>
      <p class="text_beer mt-5">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa saepe
        quidem dicta sit ullam, animi tenetur recusandae error officiis optio
        ipsam minima maxime atque deleniti?
      </p>
    </div>
    <div class="row img_container">
      <img
        class="fit-picture col-xl-12 m-3"
        src="/assets/img/beer-2536111_1920.jpg"
        alt=""
      />
    </div>
  </div>
</section>
